<p id="notice"><%= notice %></p>

<h1>今夜のメシガチャ</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

    <div class="panel panel-primary">
      <div class="panel-body">
        <table class="table table-striped table-hover ">
          <tbody>
            <%= link_to "肉ガチャ", lottery_meet_path , class: "btn btn-primary" %>
            <br><br>
            <%= link_to "魚ガチャ", lottery_fish_path , class: "btn btn-primary" %>
<br><br>
            <%= link_to "野菜ガチャ", lottery_vegetable_path , class: "btn btn-primary" %>
<br><br>

          </tbody>
        </table> 
      </div>
    </div>


  </tbody>
</table>

<br>

